@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 255, 255;
  --accent: 0, 122, 255;
  --accent-hover: 0, 98, 204;
  --primary: 20, 20, 20;
  --error: 255, 0, 122;
}